@mixin main-style($font-family, $font-size, $color) {
    font-size: $font-size;
    font-family: $font-family;
    color: $color;
}

.root {}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.title {
    color: rgb(3, 19, 0);
    font-family: "Nunito";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
    text-align: center;

}

.ptb-96 {
    padding-top: 96px;
    padding-bottom: 96px;
}

.leaf2 {
    position: absolute;
    right: 0;
    top: 71px;
}


.header {

    z-index: 9999;
    /* primary colour/white */
    background: rgb(255, 255, 255);
    padding: 24px 0;
    position: fixed;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo span {
        @include main-style(Nunito, 24px, rgb(3, 19, 0));
        font-weight: 700;
        line-height: 34.67px;
        letter-spacing: -2%;
        text-align: center;
    }

    &__navbar {}

    &__list {
        display: flex;
        gap: 20px;
    }



    &__item a {
        /* Roboto/Button 1 (Bold) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
    }

    &__btn button {
        /* Roboto/Button 1 (Bold) */
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 100px;
        padding: 10px 24px;
        /* primary colour/ordinary green */
        background: rgb(28, 94, 37);
    }
}

.main {}

.banner {
    padding-top: 196px;
    background: url('../img/background01.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__container {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__title {
        /* Nunito/H1 (Bold) */
        color: rgb(3, 19, 0);
        font-family: Nunito;
        font-size: 56px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -2%;
        text-align: center;
        padding-bottom: 20px;
    }

    &__subtitle {
        /* Roboto/Title 1.2 (Bold) */
        color: rgb(57, 57, 57);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 48px;
    }

    &__link {
        padding-bottom: 62px;
    }

    &__images {
        padding-bottom: 99px;
        padding-right: 22px;
    }

    &__images img {
        max-width: 1030px;
    }
}

.application {
    padding-bottom: 80px;

    &__contianer {}

    &__title {
        /* Nunito/H2 (Bold) */

    }

    &__content {
        display: flex;
        align-items: center;
        gap: 110px;
    }

    &__text {
        /* [object Object] */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__text span {
        font-weight: bold;
    }

    &__image {}
}

.whyUs {
    padding-top: 0;

    &__container {}

    &__title {
        padding-bottom: 64px;
    }

    &__cards {
        display: flex;

        gap: 32px;
    }

    &__card {
        max-width: 214px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        padding-bottom: 24px;
    }

    &__icon img {
        height: 102px;
    }

    &__subtitle {
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 23px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 16px;
    }

    &__text {
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.experience {
    background: url('../img/bgwhyUs.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 150px;

    &__container {
        display: flex;
        align-items: center;
        gap: 99px;
    }

    &__image {}

    &__content {}

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 24px;
    }

    &__text {
        /* Roboto/Body 2 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 1em;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.connection {
    padding-top: 56px;
    padding-bottom: 80px;

    &__contianer {
        display: flex;
        align-items: center;
        gap: 199px;
    }

    &__content {}

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 24px;
    }

    &__text {
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 1em;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__image {}
}

.socialActivity {
    background: url('../img/bg-social.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 96px;
    padding-bottom: 145px;

    &__container {
        display: flex;
        align-items: center;
        gap: 99px;
    }

    &__image {}

    &__content {}

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 24px;
    }

    &__text {
        /* Roboto/Body 2 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 1em;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

}

.moralSupport {
    padding-top: 80px;
    padding-bottom: 96px;

    &__contianer {
        display: flex;
        align-items: center;
        gap: 199px;
    }

    &__content {}

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 24px;
    }

    &__text {
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 1em;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__image {}
}

.videoPresentation {
    background: #072810;

    &__container {
        padding: 200px 0;
    }

    &__video img {
        max-width: 100%;
        padding-left: 25px;
    }
}

.preservation {
    position: relative;
    padding-top: 50px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 102px;
    }

    &__content {
        max-width: 441px;
    }

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 24px;

    }

    &__text {
        /* Roboto/Body 2 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;

    }

    &__image {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // max-width: 50vw;
    }

    &__image img {
        width: 100%;
    }
}

.howItWorks {
    padding-top: 96px;

    &__container {}

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 64px;
    }

    &__btn button {
        border-radius: 40px;
        background: rgba(202, 217, 205, 0.6);
        color: rgb(3, 19, 0);
        font-family: Nunito;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -2%;
        text-align: left;
        padding: 18px 32px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 64px;
    }

    &__content-block {}

    &__stages {
        display: flex;
        flex-direction: column;
        gap: 48px;

    }

    &__stage {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__number {}

    &__text {
        /* Roboto/Title 1.1 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__stages-btn {
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    &__stages-btn button {
        /* Roboto/Button 1 (Bold) */
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 100px;

        /* primary colour/ordinary green */
        background: rgb(28, 94, 37);
        padding: 17px 126px;
    }

    &__image {}

    &__cards {
        display: flex;

        gap: 20px;
        padding-bottom: 96px;
    }

    &__card {
        max-width: 520px;
    }

    &__card-icon {
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
    }

    &__card-content {
        /* primary colour/ordinary green */
        border: 2px solid rgb(28, 94, 37);
        border-radius: 24px;
        height: 301px;

    }

    &__card-title {
        /* Roboto/Title 1.1 (Medium) */
        color: rgb(255, 255, 255);
        background: rgb(28, 94, 37);
        border-radius: 20px 20px 0 0;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
        padding: 17px 0;
    }

    &__card-list {
        list-style: disc;

        padding: 40px 56px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 0 0 24px 24px;

    }

    &__card-item {
        /* Roboto/Body 1 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }
}


.swiper {
    width: 100%;
    height: 100%;
}


.reviews__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
}

.reviews {
    background: url(../img/bg-reviews.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__container {}

    &__title {
        color: rgb(3, 19, 0);
        font-family: Nunito;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -2%;
        text-align: center;
        padding-bottom: 64px;
    }

    &__swiper-slide {
        display: flex;
        justify-content: center;
    }

    &__content {
        padding: 32px;
        border-radius: 32px;
        background: rgb(255, 255, 255);
        max-width: 430px;
    }

    &__name {
        /* Roboto/Title 2 (Bold) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 8px;
    }

    &__data {
        /* Roboto/Body 1 (Regular) */
        color: rgb(77, 78, 77);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        padding-bottom: 16px;
    }

    &__stars {
        padding-bottom: 20px;
    }

    &__text {
        /* Roboto/Body 2 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__buttons {
        padding-top: 48px;
    }

    &__swiper-button {
        color: rgb(28, 94, 37);
        padding: 21px 27px;
        box-sizing: border-box;
        /* primary colour/ordinary green */
        border: 2px solid rgb(28, 94, 37);
        border-radius: 10px;

        /* primary colour/white */
        background: rgb(255, 255, 255);
        height: 70px;
        width: 70px;
    }


}

.extensions {


    &__container {}

    &__title {
        /* Nunito/H2 (Bold) */
        color: rgb(3, 19, 0);
        font-family: Nunito;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -2%;
        text-align: center;
        padding-bottom: 64px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 54px;
    }

    &__iamge {}

    &__cards {
        width: 700px;
    }

    &__card {}
}

.accordion-button {
    /* Roboto/Title 1.1 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.accordion-body {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.form {

    &__container {
        display: flex;
        gap: 152px;
        align-items: center;
    }

    &__content {
        padding: 64px 90px;
        border: 2px solid rgb(28, 94, 37);
        border-radius: 16px;
        max-width: 520px;
    }

    &__title {
        /* Roboto/H3 (Medium) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 24px;
    }

    &__text {
        /* Roboto/Body 2 (Regular) */
        color: rgb(3, 19, 0);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 32px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 32px;
    }

    &__email:focus {
        border: 1px solid white;
    }

    &__email {
        padding: 15px 16px;
        border: 1px solid rgb(28, 94, 37);
        border-radius: 8px;

    }


    &__description {
        box-sizing: border-box;
        border: 1px solid rgb(28, 94, 37);
        border-radius: 8px;
        padding: 16px;
        height: 144px;
    }


    &__btn {
        /* Roboto/Button 1 (Bold) */
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 100px;

        /* primary colour/ordinary green */
        background: rgb(28, 94, 37);
        padding: 14px 126px;
    }

    &__image {}
}




.footer {

    /* primary colour/ordinary green */
    background: rgb(28, 94, 37);
    padding: 48px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    &__logo span {
        color: rgb(255, 255, 255);
        font-family: Nunito;
        font-size: 24px;
        font-weight: 700;
        line-height: 34.67px;
        letter-spacing: -2%;
    }

    &__navbar {}

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__list-item a {
        /* Roboto/Button 1 (Bold) */
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
    }

    &__info {}

    &__info-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    &__info-item a {
        /* Roboto/Button 1 (Bold) */
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
    }

    &__info-sublist {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 8px;
    }

    &__info-sublist-item {}
}