@import "media";

@mixin main-style($font-family, $font-size, $color) {
  font-size: $font-size;
  font-family: $font-family;
  color: $color;
}

.root {}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.title {
  color: rgb(3, 19, 0);
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: left;
  text-align: center;

}

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.leaf2 {
  position: absolute;
  right: 0;
  top: 71px;
}


.header {

  z-index: 9999;
  /* primary colour/white */
  background: rgb(255, 255, 255);
  padding: 24px 0;
  position: fixed;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo span {
    @include main-style(Nunito, 24px, rgb(3, 19, 0));
    font-weight: 700;
    line-height: 34.67px;
    letter-spacing: -2%;
    text-align: center;
  }

  &__navbar {}

  &__list {
    display: flex;
    gap: 20px;
  }



  &__item a {
    /* Roboto/Button 1 (Bold) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__btn button {
    /* Roboto/Button 1 (Bold) */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 24px;
    /* primary colour/ordinary green */
    background: rgb(28, 94, 37);
  }
}

.header__burger {
  display: none;
}

.burger {
  display: none;
  background: white;
  height: 100vh;
  padding-top: 100px;


  &__container {
    overflow: hidden;
  }

  &__navbar {}

  &__list {}

  &__item {
    padding: 14px 0;
    border-bottom: 1px solid rgb(223, 232, 225);
  }

  &__item:nth-child(1) {

    border-top: 1px solid rgb(223, 232, 225);
  }



  &__item a {
    /* Roboto/Button 1 (Bold) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    padding: 0 24px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding-top: 32px;
  }

  &__btn button {
    /* Roboto/Button 1 (Bold) */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    padding: 10px 24px;
    /* primary colour/ordinary green */
    background: rgb(28, 94, 37);

  }
}



@media (max-width: 840px) {

  .header__navbar {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__burger {
    display: block;
  }
}

.burgerActive {
  display: block;
}

.closeMain {
  display: none;
}


.main {}

.banner {
  padding-top: 190px;
  background: url(../img/background01.png) 0 100px / 100% 88% no-repeat;

  &__container {

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    /* Nunito/H1 (Bold) */
    color: rgb(3, 19, 0);
    font-family: Nunito;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    padding-bottom: 20px;
  }

  &__subtitle {
    /* Roboto/Title 1.2 (Bold) */
    color: rgb(57, 57, 57);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 48px;
  }

  &__link {
    padding-bottom: 62px;
  }

  &__images {
    padding-bottom: 99px;
    padding-right: 22px;
  }

  &__images img {
    max-width: 100%;
  }
}

.application {
  padding-bottom: 80px;

  &__contianer {}

  &__title {
    /* Nunito/H2 (Bold) */

  }

  &__content {
    display: flex;
    align-items: center;
    gap: 110px;
  }

  &__text {
    /* [object Object] */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }

  &__text span {
    font-weight: bold;
  }

  &__image {}
}

.whyUs {
  padding-top: 0;

  &__container {}

  &__title {
    padding-bottom: 64px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    max-width: 241px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
  }

  &__icon img {
    height: 102px;
  }

  &__subtitle {
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 16px;
  }

  &__text {
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    padding: 0 6px;
  }

  &__cards-swiper{
    display: none;
  }
}

.experience {
  background: url(../img/bgwhyUs.png) 0 0 / 100% 100% no-repeat;
  position: relative;
  padding-bottom: 150px;

  &__container {
    display: flex;
    align-items: center;
    gap: 99px;
  }

  &__image {}

  &__content {}

  &__title {
    /* Roboto/H3 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 24px;
  }

  &__text {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 1em;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }
}

.connection {
  padding-top: 56px;
  padding-bottom: 80px;

  &__contianer {
    display: flex;
    align-items: center;
    gap: 199px;
  }

  &__content {}

  &__title {
    /* Roboto/H3 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 24px;
  }

  &__text {
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 1em;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }

  &__image {}
}

.socialActivity {
  background: url(../img/bg-social.png) 0 0 / 100% 100% no-repeat;
  position: relative;
  padding-top: 105px;
  padding-bottom: 150px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 430px;
  }

  &__image-inner{
    display: flex;
  }

  &__title {
    /* Roboto/H3 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 24px;
  }

  &__title-active{
    display: none;
  }

  &__text {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }

}

.moralSupport {
  padding-top: 80px;
  padding-bottom: 96px;

  &__contianer {
    display: flex;
    align-items: center;
    gap: 199px;
  }

  &__title {
    /* Roboto/H3 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 24px;
  }

  &__text {
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }

  &__image {}
}

.videoPresentation {
  background: #072810;

  &__container {
    padding: 200px 0 177px;
    display: flex;
    justify-content: center;
  }

  &__img img{
    max-width: 100%;
    padding-right: 25px;
  }

  &__video{
     display: none;
  }
}

.preservation {
  position: relative;
  padding-top: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 102px;
  }

  &__content {
    max-width: 441px;
  }

  &__title {
    /* Roboto/H3 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 24px;

  }

  &__text {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;

  }

  &__image2{
    display: none;
  }

  &__image img {
    width: 100%;
  }
}

.howItWorks {
  padding-top: 96px;

  &__content{
    display: block;
  }

  &__swiper{
    display: none;
  }

  &__content-block {
    width: 450px;
  }

  &__button{
    background-color: #1C5E25;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 14px 90px;
    border: 2px solid #1C5E25;
    border-radius: 100px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
  }

  &__btn button {
    border-radius: 40px;
    background: rgba(202, 217, 205, 0.6);
    color: rgb(3, 19, 0);
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
    padding: 18px 32px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
  }

  &__content-block {}

  &__stages {
    display: flex;
    flex-direction: column;
    gap: 48px;

  }

  &__stage {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__number {}

  &__text {
    /* Roboto/Title 1.1 (Medium) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  &__stages-btn {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  &__stages-btn button {
    /* Roboto/Button 1 (Bold) */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;

    /* primary colour/ordinary green */
    background: rgb(28, 94, 37);
    padding: 14px 129px;
  }

  &__image img{
    height: 575px;
  }

  &__cards {
    display: flex;

    gap: 20px;
    padding-bottom: 96px;
  }

  &__card {
    max-width: 520px;
  }

  &__card-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
  }

  &__card-content {
    /* primary colour/ordinary green */
    border: 2px solid rgb(28, 94, 37);
    border-radius: 24px;
    height: 301px;

  }

  &__card-title {
    /* Roboto/Title 1.1 (Medium) */
    color: rgb(255, 255, 255);
    background: rgb(28, 94, 37);
    border-radius: 20px 20px 0 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    padding: 17px 0;
  }

  &__card-list {
    list-style: disc;

    padding: 40px 56px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 0 0 24px 24px;

  }

  &__card-item {
    /* Roboto/Body 1 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }
}

.owl-stage-flex{
  display: flex;
  align-items: center;
  height: 400px;
}
.owl-item {
  transition: 0.8s;
  &.active{
    transform: scaleY(0.86);
    &.center{
      z-index: 2;
      transform: scale(1.2);
      .reviews__content {
        margin-top: 30px;
        margin-bottom: 30px;
        filter: none;
      }

    }
  }
}

.owl-carousel .owl-item img{
  width: 50%;
}


.reviews {
  background: url(../img/bg-reviews.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    color: rgb(3, 19, 0);
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    padding-bottom: 64px;
  }

  &__slider-inner2{
    display: none;
  }

  &__content {
    padding: 25px;
    border-radius: 26px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.11);
    filter: blur(2.12px);
  }

  &__name {
    /* Roboto/Title 2 (Bold) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 7px;
  }

  &__data {
    /* Roboto/Body 1 (Regular) */
    color: rgb(77, 78, 77);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 14px;
  }

  &__stars {
    padding-bottom: 15px;
  }

  &__text {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
  }

  &__buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 48px;
  }

  &__swiper-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 94, 37);
    padding: 21px 27px;
    box-sizing: border-box;
    /* primary colour/ordinary green */
    border: 3px solid rgb(28, 94, 37);
    border-radius: 10px;

    /* primary colour/white */
    background: rgb(255, 255, 255);
    height: 70px;
    width: 70px;
  }
}

.extensions {
  background: rgba(202, 217, 205, 0.6);

  &__title {
    /* Nunito/H2 (Bold) */
    color: rgb(3, 19, 0);
    font-family: Nunito;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: center;
    padding-bottom: 64px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__image img {
    max-width: 100%;
  }

  &__cards {
    max-width: 700px;
    width: 100%;
    padding-left: 20px;
  }

  &__card {
    margin: 16px 0;
    border-radius: 16px;
  }
}

.accordion-button {
  /* Roboto/Title 1.1 (Medium) */
  color: rgb(3, 19, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  padding: 48px 48px;
  border-radius: 16px;
}

.form {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__content {
    padding: 64px 90px;
    border: 2px solid #1c5e25;
    border-radius: 16px;
    max-width: 520px;
  }

  &__title {
    color: #031300;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 24px;
  }

  &__text {
    color: #031300;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 32px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
  }

  &__email:focus-visible {
    border: 1px solid #1c5e25;
  }

  &__email {
    padding: 15px 16px;
    border: 1px solid #1c5e25;
    border-radius: 8px;
  }

  &__description {
    box-sizing: border-box;
    border: 1px solid #1c5e25;
    border-radius: 8px;
    padding: 16px;
    height: 144px;
  }

  &__btn {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 100px;
    background: #1c5e25;
    padding: 14px 126px;
    width: 100%;
  }
}


.footer {

  /* primary colour/ordinary green */
  background: rgb(28, 94, 37);
  padding: 48px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__logo span {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.67px;
    letter-spacing: -2%;
    padding: 5px;
  }

  &__navbar {}

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list-item a{
    /* Roboto/Button 1 (Bold) */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__info {}

  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

  }

  &__info-item a{
    /* Roboto/Button 1 (Bold) */
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
  }

  &__info-sublist {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 8px;
  }

  &__info-sublist-item {}
}

.accordion{

  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-bg: #fff;
  --bs-accordion-bg: #fff;
  --bs-accordion-active-color: rgb(3, 19, 0);
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-focus-border-color: unset;
  --bs-accordion-border-radius: 20px;
  --bs-accordion-inner-border-radius: 16px;
  --bs-accordion-body-padding-x: 48px;
  // --bs-accordion-btn-icon: url(../img/svg/accordionIconClose.svg);
  --bs-accordion-btn-icon-width: 35px;
  --bs-accordion-btn-icon-transition: transform 0.5s ease-in-out;
  &-button:not(.collapsed) {
    box-shadow: none;
  }
  &-button::after {
    background-image: url(../img/svg/accordionIconClose.svg);
  }
  &-button:not(.collapsed)::after {
    background-image: url(../img/svg/accordionIconOpen.svg);
  }
  &-body {
    /* Roboto/Body 2 (Regular) */
    color: rgb(3, 19, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    padding: 0 90px 48px 48px;
  }
}

